{% extends 'admin_layout.html' %}

{% block title %} Admin Items {% endblock %}

{% block body %}
<div style="height:10vh;"></div>
        {% for order in orders %}
            <tr>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table-sold table-hover">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Produc Pic</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td style="padding-top:20px;">{{ order.order_id }}</td>
            <td>{{ order.product_name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.customer_email }}</td>
            <td>{{ order.customer_username }}</td>
            <td><img style="height:150px;width:150px" src="{{order.product_picture}}"></td>
            <td>
                <form method='POST' id={{order.order_id}} class='form-item'>
                    <div class='status-sec'><b> Status: {{order.status}}</b></div>
                    <div>
                        <select id="statusSelect" name="options" class="form-control">
                            <option value="" selected disabled>{{order.status}}</option>
                            <option value="pending">Pending</option>
                            <option value="on delivery">on delivery</option>
                            <option value="delivered">delivered</option>
                            <option value="canceled">canceled</option>
                        </select>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </td>
    </tr>
    {%endfor%}
    </tbody>
  </table>
{% endblock %}
